body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}


#contenedorConciertos{
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    gap: 2%

}

Div.concierto{
    background-color: rgba(79, 79, 166, 0.3);
    text-align: center;
}


#menuFlotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}