body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #4f4f4f;
}

#contenedorConciertos {
  display: grid;
  grid-template-columns: repeat(4, 20vw);
  gap: 2%;
  margin: 20px 0;
}

div.concierto {
  background-color: rgba(79, 79, 166, 0.3);
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4f4fa1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

#menuFlotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
}

#ticketsDisplay,
#conciertosProximos {
  margin: 20px 0;
}

#listaTickets,
#listaConciertosProximos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket {
  background-color: rgba(255, 228, 225, 0.5);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ffb3b3;
}
